<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <title>My Board Project, MBP!</title>
    </head>

    <body>
        <!-- 네비게이션 바 추가하기 -->
        <!-- 와 씨바 같은 layouts 디렉터리인데 경로를 지정해줘야되네 -->
        <nav th:replace="/layouts/navbar :: navbarFragment"></nav>
        <!-- 템플릿 내용 -->
        <th:block layout:fragment="content"></th:block>

        <!-- Bootstrap javascript -->
        <script th:src="@{/bootstrap.min.js}"></script>
        <!-- JS Start -->
        <th:block layout:fragment="script"></th:block>
    </body>
</html>