<html layout:decorate="~{layout/layout}">
    <div layout:fragment="content" class="container my-3">
        <div class="my-3 border-bottom">
            <div>
                <h4>회원 가입</h4>
            </div>
        </div>

        <form th:action="@{/member/signup}" th:object="${requestDto}" method="post">
            <!-- TODO: 에러 메시지 출력 -->

            <!-- 회원가입 폼 -->
            <div class="mb-3">
                <label for="username" class="form-label">ID</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">회원가입</button>
        </form>
    </div>
</html>