<html layout:decorate="~{layouts/layout}">
    <div layout:fragment="content" class="container my-3">
        <div class="my-3 border-bottom">
            <div>
                <h4>회원 가입</h4>
            </div>
        </div>

        <form th:action="@{/member/signup}" th:object="${memberCreateRequestDto}" method="post">
            <!-- th:object="${memberCreateRequestDto}"와 controller 사이에 바인딩 문제가 있었는데, @ModelAttribute() 생략으로 인한 클래스명 키값 에러 -->
            <!-- https://www.inflearn.com/questions/137554 이거 보고 해결 -->

            <!-- TODO: ERROR MESSAGE -->
            <div th:replace="layouts/error_form :: errorFormFragment"></div>
            <!-- 회원가입 폼 -->
            <div class="mb-3">
                <label for="username" class="form-label">ID</label>
                <input type="text" th:field=*{username} class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" th:field=*{password1} class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" th:field=*{password2} class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field=*{email} class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">회원가입</button>
        </form>
    </div>
</html>