<html layout:decorate="~{/layout/layout}">
    <div layout:fragment="content" class="container my-3">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성 일시</th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center" th:each="post : ${postList}">
                    <td class="text-start">
                        <a th:href="@{|/post/view/${post.id}|}" th:text="${post.title}"></a>
                    </td>
                    <td>// TODO: 글쓴이 구현</td>
<!--                    <td th:text="${post.author}"></td>-->
                    <td th:text="${#temporals.format(post.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>

        <!-- 페이지 표시 -->
        <div th:if="${!postList.isEmpty()}">
            <div th:if="${postList.hasPrevious}" th:text="ㅇㅇ"></div>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!postList.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${postList.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 글쓰기 버튼 -->
        <a th:href="@{/post/create}" class="btn btn-primary">글 쓰기</a>
    </div>
</html>