<html layout:decorate="~{/layouts/layout}">
    <div layout:fragment="content" class="container my-3">
        <table class="table">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성 일시</th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center" th:each="post : ${postList}">
                    <td class="text-start">
                        <a th:href="@{|/post/view/${post.id}|}" th:text="${post.title}"></a>
                        <span class="text-danger small ms-1"
                              th:if="${post.replyCnt > 0}"
                              th:text="${post.replyCnt}">
                        </span>
                    </td>
                    <td th:text="${post.author}"></td>
                    <td th:text="${#temporals.format(post.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>

        <!-- 페이지 표시 -->
        <div th:if="${!postList.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!postList.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${postList.number}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(1, postList.totalPages)}"
                    th:if="${page >= postList.number-2 and page <= postList.number + 4}"
                    th:classappend="${page-1 == postList.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page - 1}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!postList.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${postList.number + 1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 글쓰기 버튼 -->
        <a th:href="@{/post/create}" class="btn btn-primary">글 쓰기</a>
    </div>
</html>